<%= form_for(@comment,url: admin_comment_path,html: { multipart: true }) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> <%=t('common.errors_form_wrapper')%>:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <div class="form-group">
        <%=f.label :user%>
        <%=f.text_field :user, class: 'form-control'%>
      </div>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class="form-group">
        <%=f.label :email%>
        <%=f.text_field :email, class: 'form-control'%>
      </div>
    </div>

  </div>


  <div class="form-group">
    <%=f.label :body%>
    <%=f.text_area :body,size: '30x10' ,class: 'wysihtml5 form-control '%>
  </div>

  <%= f.submit  t('common.edit'), class: 'btn btn-primary' %>

<%end%>