<h3 class="section-title more-margin"><i class="icon-comment-alt"></i> <%=t('admin_zone.comment.list')%></h3>
<div class="row">
  <div class="col-xs-3 col-md-3">
    <%=link_to t('admin_zone.global.title'), admin_home_path  %>
  </div>
  <div class="col-xs-9 col-md-9">
    <%= form_for(:search,url: search_admin_comments_path,method: 'post',class: 'form-inline') do |f| %>
      <div class="col-xs-12 col-md-5">
      <%=f.text_field :user,placeholder: t('activerecord.attributes.comment.user'),class: 'form-control'%>
      </div>
      <div class="col-xs-12 col-md-5">
      <%=f.text_field :body,placeholder: t('activerecord.attributes.comment.body'),class: 'form-control'%>
      </div>
      <div class="col-xs-12 col-md-2">
      <%= f.submit  t('common.search'), class: 'btn btn-primary' %>
      </div>
    <%end%>
  </div>
</div>
<div class="padded">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th><%=t('admin_zone.comment.body')%></th>
      <th><%=t('admin_zone.comment.tipo')%></th>
      <th><%=t('admin_zone.comment.user')%></th>
      <th><%=t('admin_zone.comment.email')%></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%=
             comment.body.length > 20?
                     comment.body[0..20].html_safe+' ...' : comment.body.html_safe
            %>
         </td>
        <td><%=comment.commentable_type%> (<%=comment.commentable.slug%>)</td>
        <td><%=comment.user%></td>
        <td><%=comment.email%></td>

        <td class="text-right">
          <a class="btn btn-default btn-xs" href="<%=edit_admin_comment_path(comment)%>"><i class="icon-pencil"></i> edit</a>
          <a class="btn btn-danger btn-xs" data-method="delete" href="<%=admin_comment_path(comment)%>"><i class="icon-remove"></i></a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @comments, previous_label: t('will_paginate.previous_label'), next_label: t('will_paginate.next_label'),
                    page_gap: t('will_paginate.page_gap'),class: 'pagination pagination-large pagination-centered'%>
</div>
