<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <%@posts.each_with_index do |post, index|%>
<div class="row">
  <div class="widget">
    <div class="widget-content-white">
      <div class="shadowed-bottom">
        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-9 bordered">
            <%=l post.updated_at, format: :long6%>
            <div class="value-sub pull-right"><%=t('admin_zone.comment.name')+" (#{post.comments.count})"%></div>
            <div class="value-block value-bigger changed-up ">
              <div class="value-self">
                <%=link_to post.title.html_safe.upcase,blog_path(post), class: 'value-self'%>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-4 col-sm-3">
            <%=link_to(image_tag(post.media), blog_path(post))%>
          </div>
        </div>
      </div>
      <div class="padded-more">
        <span class="proyect-description-big row"><%=Sanitize.fragment(post.body).split[0...80].join(' ')%> ... <%= link_to t('blog.read_more'),blog_path(post)%></span>
      </div>
    </div>
    <div class="shadowed-top">
    </div>
  </div>
</div>
<%end%>
  </div>
  <div class="col-xs-12 col-md-4">
      <div class="row widget column_right_blog">
        <div class="widget-content-white">
          <div class="shadowed-bottom">
            <div class="text-center"><b><%=t('blog.widget_seach_title')%></b></div><br/>
            <%=render 'widget_post_history'%>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row text-center">
<%= will_paginate @posts, previous_label: t('will_paginate.previous_label'), next_label: t('will_paginate.next_label'),
                  page_gap: t('will_paginate.page_gap'),class: 'pagination'%>
</div>

