<div class="row">
  <div class="widget">
    <div class="widget-content-white">
      <div class="shadowed-bottom">
        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-9 bordered">
            <%=t('common.share').upcase%>:<br/>
            <a href="http://twitter.com/home?status=<%=request.original_url%>" title="Share on Twitter" target="_blank" class="btn btn-default"><i class="icon-twitter"></i> Twitter</a>
            <!-- Facebook -->
            <a href="https://www.facebook.com/sharer/sharer.php?u=<%=request.original_url%>" class="btn btn-default "><i class="icon-facebook"></i> Facebook</a>
            <!-- LinkedIn -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%=request.original_url%>&title=<%=@web_title%>&summary=<%=@description%>" title="Share on LinkedIn" target="_blank" class="btn btn-default"><i class="icon-linkedin"></i> LinkedIn</a>
            <!-- Whatsapp-->
            <a href="whatsapp://send?text=<%=request.original_url%>" title="Share on Whatsapp" data-action="share/whatsapp/share" class="btn btn-default "><%=icon('whatsapp',class: 'strong')%> Whatsapp</a>
            <!-- Telegram-->
            <a href="tg://msg?text=<%=request.original_url%>" title="Share on Telegram" class="btn btn-default "><%=icon('paper-plane',class: 'strong')%> Telegram</a>
            <br/><br/>
            <%=l @post.updated_at, format: :long6%>
            <div class="value-block value-bigger changed-up ">
              <div class="value-self">
                <%=link_to @post.title.html_safe.upcase,blog_path(@post), class: 'value-self'%>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-4 col-sm-3">
            <%=link_to(image_tag(@post.media), blog_path(@post))%>
          </div>
        </div>
      </div>
      <div class="padded-more">
        <div class="proyect-description-big">
          <%=@post.body.html_safe%>
        </div>
      </div>
    </div>
    <div class="shadowed-top">
      <div class="value-block">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                      <div class="value-sub text-center"><%=t('admin_zone.comment.name')+" (#{@post.comments.count})"%></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <!-- Button trigger modal -->
                      <div class="center-block">
                        <button class="btn btn-default btn-xs btn-round" data-toggle="modal" data-target="#myModal">
                          <%=t('admin_zone.comment.do_comment')%>
                        </button>
                      </div>
                    </div>
                  </div>
                </a>
              </h4>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><%=t('admin_zone.comment.create_comment')+@post.title%></h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for(@comment ||= Comment.new,url: blog_comments_path(@post),html: { multipart: true }) do |f| %>
                      <div class="row">
                        <div class="col-xs-4 col-md-4">
                          <div class="form-group">
                            <%=f.label :user%><span class="force_form"> *</span>
                            <%=f.text_field :user, class: 'form-control'%>
                          </div>
                        </div>
                        <div class="col-xs-4 col-md-4">
                          <div class="form-group">
                            <%=f.label :email%><span class="force_form"> *</span>
                            <%=f.text_field :email, class: 'form-control'%>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <%=f.label :body%><span class="force_form"> *</span>
                        <%=f.text_area :body,size: '20x5' ,class: 'wysihtml5 form-control '%>
                      </div>
                      <div class="form-group">
                        <%= f.label :humanizer_answer, @comment.humanizer_question %><span class="force_form"> *</span>
                        <%= f.text_field :humanizer_answer,class: 'form-control' %>
                        <%= f.hidden_field :humanizer_question_id %>
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><%=t('common.cancel')%></button>
                        <%= f.submit  t('common.new'), class: 'btn btn-primary' %>
                    <%end%>
                    </div>
                    </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="collapse0" class="panel-collapse collapse out">
              <div class="panel-body">
                <div class="row">
                  <%@post.comments.each do |comment|%>
                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 ">
                          <span class="pull-left"><b><%=comment.user%></b></span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                          <span class="pull-right"><b>(<%=l comment.created_at, format: :long6%>)</b></span>
                        </div>
                      </div>
                      <%=comment.body.html_safe%>
                      <hr/>
                    </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="javascript:history.back()" class="btn btn-default btn-round more-margin"><i class="icon-backward"></i> <%=t('common.back')%></a>
