<div class="row">
  <div class="col-md-12">
    <h3 class="form-title form-title-first"><i class="icon-terminal"></i> <%=t('admin_zone.cvs.edit')%></h3>
    <div class="widget">
      <div class="widget-content-white glossed">
        <div class="padded">
          <%= form_for(@cv, url: admin_cv_path, html: {multipart: true}) do |f| %>
              <% if @cv.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@cv.errors.count, "error") %> <%= t('common.errors_form_wrapper') %>:</h2>
                    <ul>
                      <% @cv.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div class="form-group">
                <%= f.label :body %>
                <%= f.cktext_area :body, rows: 25  %>
              </div>

              <%= f.submit t('common.edit'), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to t('admin_zone.global.title'), admin_home_path, class: 'btn btn-default' %>

