<br/>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="content-wrapper bold-shadow">
      <div class="content-inner">
        <div class="main-content main-content-grey-gradient no-page-header">
          <div class="main-content-inner">
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
                <%= devise_error_messages! %>
              <h3 class="form-title form-title-first"><i class="icon-unlock"></i> >_ <%=t('admin_zone.users.edit')%> <%=resource.username%></h3>
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email , class: 'form-control'%>
                </div>

                <div class="form-group">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
                  <%= f.password_field :password, class: 'form-control'%>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation,class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password,class: 'form-control' %>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <%= f.submit  t('common.edit'), class: 'btn btn-primary' %>
                  </div>
                  <div class="col-md-6">
                    <%= link_to t('admin_zone.users.back'), admin_home_path, class: 'btn btn-default' %>
                  </div>
                </div>
              <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>




