<div class="widget">
  <div class="row">
    <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
      <ol class="carousel-indicators">
        <% @carrusel.each_with_index do |proyect, index| %>
            <li class="
              <% if index == 0 %>active
              <% end %>" data-slide-to="<%= index %>" data-target="#carousel-example-generic"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% @carrusel.each_with_index do |proyect, index| %>
            <div class="item
              <% if index == 0 %>active
              <% end %>">
              <%= image_tag proyect.media%>
            </div>
        <% end %>
      </div>
      <a data-slide="prev" href="#carousel-example-generic" class="left carousel-control">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a data-slide="next" href="#carousel-example-generic" class="right carousel-control">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="home-content-white text-center">
        <i class="icon-keyboard big-icon"></i><br/>
        <span class="home-prety-font">PROGRAMACIÓN</span><br/><br/>
        <span class="home-prety-font-down">Ruby on Rails, Java, Html, C, Php, Scripting Bash, JavaScript, ...</span>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 ">
      <div class="home-content-white text-center">
        <i class="icon-eye-open big-icon"></i><br/>
        <span class="home-prety-font">DISEÑO</span><br/><br/>
        <span class="home-prety-font-down">Css, Photoshop, SVG, Java/Swing, Bootstrap Twitter, Ilustrator... </span>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 ">
      <div class=" home-content-white text-center">
        <i class="icon-eye-open icon-cogs big-icon"></i><br/>
        <span class="home-prety-font">EFICIENCIA</span><br/><br/>
        <span class="home-prety-font-down">Spec, Gnu/Linux, Git, Desarrollo incremental, Contacto permanente, ... </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 home-span-intro">
      <p style="margin-bottom: 0cm">
        <b>Bienvenido a mi Web</b>. Soy Marcos Mart&iacute;n Garc&iacute;a-Mu&ntilde;oz, Ingeniero T&eacute;cnico en
        Inform&aacute;tica de Sistemas.</p>

      <p style="margin-bottom: 0cm">
        &nbsp;</p>

      <p style="margin-bottom: 0cm; margin-left: 40px;">
        Me encanta la tecnolog&iacute;a y enfrentarme a nuevos retos. Actualmente me encuentro m&aacute;s enfocado en
        Web usando Ruby on Rails, una tecnolog&iacute;a fascinante.</p>

      <p style="margin-bottom: 0cm;">
        &nbsp;</p>

      <p style="margin-bottom: 0cm; text-align: right;">
        Te invito a visitar mi web personal :)</p>
    </div>
  </div>
</div>




