<div class="row">
  <div class="col-xs-12 col-md-5 col-md-push-7 contact-description-big">
    <h1 style="text-align: center;">
      Marcos Mart&iacute;n Garc&iacute;a-Mu&ntilde;oz</h1> <br/>
    <ul>
      <li>
        <i class="icon-envelope"> Email:</i><br/> <b style="padding-left: 20px"><%=mail_to 'marcos.martingm@gmail.com', 'marcos.martingm@gmail.com'%></b></li>
      <br/>
      <li>
        <i class="icon-skype"> Skype:</i><br/> <b style="padding-left: 20px" class="btn-link"> marcos.martingm</b></li>
      <br/>
      <li>
        <i class="icon-linkedin"> Linkedin:</i><br/> <b style="padding-left: 20px"> <%=link_to 'linkedin.com/in/marcosmartingm', 'http://www.linkedin.com/in/marcosmartingm'%></b></li>
      <br/>
      <li>
        <i class="icon-cloud"> Web personal:</i><br/><b style="padding-left: 20px"> <%=link_to @url, @url%></b></li>
      <br/>
    </ul>
  </div>
  <div class="col-xs-12 col-md-7 col-md-pull-5">
    <div class="widget">
      <div class="widget-content-white glossed">
        <div class="padded">
          <h3 class="form-title form-title-first"><i class="icon-terminal"></i> <%=t('contact.contact_me')%> </h3>
          <%= form_for @message, url: contacts_path,html: {role: "form"} do |f| %>
            <% if @message.errors.any? %>
              <div class="alert alert-danger alert-dismissable">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                <h2><%= pluralize(@message.errors.count, 'Problema') %></h2>
                <ul>
                  <% @message.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%=f.label :name, t('activerecord.attributes.message.name')%><span class="force_form"> *</span>
                  <%=f.text_field :name, placeholder: t('activerecord.attributes.message.name'),
                                  class: "form-control"%>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%=f.label :surname, t('activerecord.attributes.message.surname')%><span class="force_form"> *</span>
                  <%=f.text_field :surname, placeholder: t('activerecord.attributes.message.surname'),
                                  class: "form-control"%>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%=f.label :email, t('activerecord.attributes.message.email')%><span class="force_form"> *</span>
                  <%=f.text_field :email, placeholder: t('activerecord.attributes.message.email'),
                                  class: "form-control"%>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%=f.label :phone, t('activerecord.attributes.message.phone')%>
                  <%=f.text_field :phone, placeholder: t('activerecord.attributes.message.phone'),
                                  class: "form-control"%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%=f.text_field :subject, placeholder: t('activerecord.attributes.message.subject'), class: "form-control" %>
            </div>
            <div class="form-group">
              <%=f.text_area :body, placeholder: t('activerecord.attributes.message.body'), class: "form-control", size: '10x10' %>
            </div>
            <div class="form-group">
              <%= label_tag :humanizer_answer, controller.humanizer_question %>
              <%= text_field_tag :humanizer_answer,nil,class: 'form-control' %>
              <%= hidden_field_tag :humanizer_question_id, controller.humanizer_question_id %>
            </div>
            <div class="form-group">
              <%=f.file_field :file%>
            </div>

            <%=f.submit t('activerecord.attributes.message.send'), class:"btn btn-primary"%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>


