<%= form_for(@post, :url => admin_posts_path, html: {multipart: true}) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> <%= t('common.errors_form_wrapper') %>:</h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="col-xs-6 col-md-6">
        <div class="form-group">
          <%= f.label :draft , t('activerecord.attributes.post.draft') %>
          <%= f.check_box :draft, checked: true %>
        </div>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.cktext_area :body, rows: 25  %>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-6">
        <div class="form-group">
          <%= f.label :media %> (Los enlaces de Dropbox deben tener la forma: https://dl.dropboxusercontent.com/s/6qw0tmhpyv0iukf/10_1CR.jpg)<br/>
          <%= f.text_field :media, class: 'form-control' %>
        </div>
      </div>
    </div>

    <%= f.submit t('common.new'), class: 'btn btn-primary' %>

<% end %>