<h3 class="section-title more-margin"><i class="icon-pencil"></i> <%=t('admin_zone.posts.list')%></h3>
<div class="row">
  <div class="col-xs-3 col-md-5">
    <%= link_to t('admin_zone.posts.new'),   new_admin_post_path  %> |  <%=link_to t('admin_zone.global.title'), admin_home_path  %>
  </div>
  <div class="col-xs-9 col-md-7">
    <%= form_for(:search,url: search_admin_posts_path,method: 'post',class: 'form-inline') do |f| %>
      <div class="col-xs-12 col-md-5">
        <%= link_to t('admin_zone.posts.show_drafs_only')+" (#{Post.drafts.count})", sort_admin_posts_path('draf_posts'), class: 'btn btn-warning'%>
        <%= link_to t('admin_zone.posts.all_post')+" (#{Post.all.count})", admin_posts_path, class: 'btn btn-warning'%>
      </div>
      <div class="col-xs-12 col-md-5">
        <%=f.text_field :title,placeholder: t('activerecord.attributes.post.title'),class: 'form-control'%>
      </div>
      <div class="col-xs-12 col-md-2">
        <%= f.submit  t('common.search'), class: 'btn btn-primary' %>
      </div>
    <%end%>
  </div>
</div>
<div class="padded">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th><%=t('admin_zone.posts.title')%></th>
      <th><%=t('admin_zone.posts.draft')%></th>
      <th><%=t('admin_zone.posts.media')%></th>

      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%=post.title%></td>
        <td>
          <%if post.draft%>
              <i class="fa fa-close btn-warning fa-3x"></i>
          <%else%>
              <i class="fa fa-check btn-primary fa-3x"></i>
          <%end%>
        </td>
        <td><%= image_tag post.media, size: "200x150" %></td>
        <td class="text-right">
          <a class="btn btn-default btn-xs" href="<%=edit_admin_post_path(post)%>"><i class="icon-pencil"></i> edit</a>
          <a class="btn btn-danger btn-xs" data-method="delete" href="<%=admin_post_path(post)%>"><i class="icon-remove"></i></a>
          <br/><br/>
          <%=l post.created_at, format: :long3%><br/>
          <%=l post.updated_at, format: :long3%><br/>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @posts, previous_label: t('will_paginate.previous_label'), next_label: t('will_paginate.next_label'),
                    page_gap: t('will_paginate.page_gap'),class: 'pagination pagination-large pagination-centered'%>
</div>
