<div class="widget">
  <%@proyects.each_with_index do |proyect,index|%>
  <h3 class="section-title first-title"><i class="icon-tasks"></i> <%=proyect.name%> </h3>
    <div class="row some-down-padding">
      <div class="col-xs-12 col-md-7 proyect-description-big">
        <%=proyect.description.html_safe%>
      </div>
      <div class="col-xs-12 col-md-5">
        <div class="widget-content-blue-wrapper changed-up text-center">
          <div class="widget-content-blue-inner padded">
            <div class="row">
              <div class="col-xs-12 col-md-3">
                <%= image_tag "#{proyect.languague}.png",size: "50x50" %>
              </div>
              <div class="col-xs-12 col-md-12">
                <span class="proyect-title"><%=proyect.name%> </span>
                <span class="proyect-description"> <%=proyect.sort_description%> </span>
              </div>
            </div>
            <hr>
            <div class="value-self"><%=link_to(image_tag(proyect.media), proyect.media,size: "400x200", class:"group#{index} thumbnail center-block")%></div>
          </div>
        </div>
        <%proyect.proyect_photos.each do |pphoto|%>
          <%=link_to(image_tag(pphoto.media), pphoto.media, class:"group#{index} thumbnail col-xs-4 col-md-3")%>
        <%end%>
      </div>
    </div>
  <%end%>
</div>
<div class="row text-center">
  <%= will_paginate @proyects, previous_label: t('will_paginate.previous_label'), next_label: t('will_paginate.next_label'),
                    page_gap: t('will_paginate.page_gap'),class: 'pagination'%>
</div>

