<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <div class="content-wrapper bold-shadow">
      <div class="content-inner">
        <div class="main-content main-content-grey-gradient no-page-header">
          <div class="main-content-inner">
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <h3 class="form-title form-title-first"><i class="icon-lock"></i> >_ <%=t('devise.links.sign_in')%></h3>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, placeholder: "email", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, placeholder: "password", class: "form-control" %>
              </div>
              <%= f.submit t('common.enter'), class: "btn btn-primary btn-lg" %>
              <a href="<%=root_path%>" class="btn btn-link"><%= t('common.cancel')%></a>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>