<div class="row">
  <div class="col-xs-12 col-md-3">
    <p class="western" style="margin-top: 15px"><font color="#000000"><img class="thumbnail" name="gráficos2" src="/assets/yo3.jpg" style="border-width: 1px; border-style: solid; margin-left: 0px; margin-right: 0px; float: left; width: 207px; height: 207px;" /></font></p>
  </div>

  <div class="col-xs-12 col-md-6">
    <p style="text-align:center;"><font face="Calibri, sans-serif"><font size="5"><b><u>Marcos Mart&iacute;n Garc&iacute;a-Mu&ntilde;oz</u></b></font> </font></p>

    <p class="western" style=" margin-bottom: 0cm"><font face="Calibri, sans-serif"><i class="icon-home contact-description-big"> Residencia en Ciudad Real</i> </font></p>

    <p class="western" style=" margin-bottom: 0cm"><font face="Calibri, sans-serif"><i class="icon-calendar contact-description-big"> Nacido el 8 de mayo de 1981</i></font></p>

    <p class="western" style=" margin-bottom: 0cm"><font face="Calibri, sans-serif"><i class="icon-phone contact-description-big"> 667095386</i> </font></p>

    <p class="western" style=" margin-bottom: 0cm"><font face="Calibri, sans-serif"><i class="icon-envelope contact-description-big"> <a href="mailto:marcos.martingm@gmail.com">marcos.martingm@gmail.com</a></i> </font></p>

    <p class="western" style=" margin-bottom: 0cm"><font face="Calibri, sans-serif"><i class="icon-skype contact-description-big"> marcos.martingm</i> </font></p>

    <p class="western" style=" margin-bottom: 0cm"><font face="Calibri, sans-serif"><span lang="en-US"><i class="icon-linkedin contact-description-big"> <a href="http://es.linkedin.com/in/marcosmartingm">es.linkedin.com/in/marcosmartingm</a></i></span></font></p>

    <p class="western" style=" margin-bottom: 0cm"><font face="Calibri, sans-serif"><i class="icon-cloud contact-description-big"> <a href="http://marcosmartingm.es/">http://marcosmartingm.es/</a></i> </font></p>

    <p class="western" lang="en-US" style="margin-bottom: 0cm">&nbsp;</p>
  </div>

  <div class="col-xs-12 col-md-3"><img alt="Qr_marcos_martin" class="center-block" height="210" src="/assets/qr_marcos_martin-0ce8991e6bf4498c955a7b9715421e2d.png" width="210" /> <a class="btn btn-block btn-lg btn-primary btn-round" href="https://dl.dropboxusercontent.com/u/254787634/proyects/marcos-martin-web/curriculo_marcos.pdf"> Descargar CV</a></div>
</div>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p class="western" style="margin-bottom: 0cm; border-top: none; border-bottom: 3.00pt ridge #00ffff; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.04cm; padding-left: 0cm; padding-right: 0cm"><font face="Lucida Bright, serif"><font size="4"><b>Formaci&oacute;n acad&eacute;mica </b></font></font></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><span style="text-transform: uppercase"><font size="4"><b>Ingeniero T&eacute;cnico en Inform&aacute;tica de Sistemas.</b></font></span><font size="4"> </font>Universidad de Castilla-La Mancha, UCLM (2005-2012). </font></p>
  </li>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><b>T&eacute;cnico Superior en Sistemas de Telecomunicaci&oacute;n e Inform&aacute;ticos</b>. Instituto de Educaci&oacute;n Secundaria Torre&oacute;n del Alc&aacute;zar de Ciudad Real (2001-2003).</font></p>
  </li>
</ul>

<p class="western" style="margin-bottom: 0cm">&nbsp;</p>

<p class="western" style="margin-bottom: 0cm; border-top: none; border-bottom: 3.00pt ridge #00ffff; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.04cm; padding-left: 0cm; padding-right: 0cm"><font face="Lucida Bright, serif"><font size="4"><b>Formaci&oacute;n complementaria </b></font></font></p>

<ul>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><b>Curso Android: Introduccion a la programacion</b> (Vistas, Layouts, recusos, barra de acciones, preferencias, ListView, actividades, intenciones, seguridad, posicionamiento, mapas y bases de datos) por Universidad Polit&eacute;cnica de Valencia. (2015). Duraci&oacute;n: 60h</font></p>
  </li>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><b>Curso B&aacute;sico de Marketing Digital</b> (sem, seo, analicica web, usabilidad, redes sociales, dispositivos moviles, e-commerce, plan de marketing y desarrollo web) por IAB Spain y Google. (2015). Duraci&oacute;n: 40h</font></p>
  </li>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><b>Curso Zend Framework 2</b> (m&oacute;dulos, servicios, eventos, formularios, BBDD, Sesiones, Permisos) por BDI-formaci&oacute;n. (2013). Duraci&oacute;n: 120h</font></p>
  </li>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><b>Curso de Creaci&oacute;n y Gesti&oacute;n de Microempresas </b> (planificaci&oacute;n, contabilidad, direcci&oacute;n, gesti&oacute;n de documentaci&oacute;n con aplicaciones inform&aacute;ticas) por la Consejeria de Empleo de Castilla la Mancha. (2012). Duraci&oacute;n: 480 horas</font></p>
  </li>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><b>Curso desarrollo aplicaciones empresariales J2EE</b> (EJB, Servlet, JSP, Spring3, Struts2 MVC, Hibernate3) por BDI-formaci&oacute;n. (2012). Duraci&oacute;n: 120 horas</font></p>
  </li>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><b>Curso introducci&oacute;n a GNU/Linux </b>por la UCLM- Escuela Superior de Inform&aacute;tica de Ciudad Real. (2008 ). Duraci&oacute;n: 20 horas</font></p>
  </li>
  <li>
    <p align="JUSTIFY" class="western" lang="en-GB" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><b>Cisco Certified Network Associate 1</b>, CCNA I (2008). Duraci&oacute;n: 70 horas</font></p>
  </li>
</ul>

<p class="western" style="margin-left: 1.27cm; margin-bottom: 0cm">&nbsp;</p>

<p class="western" style="margin-bottom: 0cm; border-top: none; border-bottom: 3.00pt ridge #00ffff; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.04cm; padding-left: 0cm; padding-right: 0cm"><font face="Lucida Bright, serif"><font size="4"><b>Experiencia </b></font></font></p>

<ul>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><u><b>Profesional</b></u></font></p>
  </li>
</ul>

<ul>
  <li>
    <ul>
      <li>
        <p class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><span lang="es-AR"><b>Programador Web</b></span><span lang="en-US"> para INDUSTRIAS VELASCO (Ruby on Rails V4, Yii Framework-PHP).(Sta. Cruz de Mudela, 2016). </span></font></p>
      </li>
      <li>
        <p class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><span lang="es-AR"><b>Programador Web y Dise&ntilde;ador Gr&aacute;fico</b></span><span lang="en-US"> para AUDIFORTUNA (WordPress con Avada, Photoshop e Illustrator). (2014-2015). </span></font></p>
      </li>
      <li>
        <p class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><span lang="es-AR"><b>Programador Ruby On Rails V3 </b></span><span lang="en-US">para LEXTREND (JS, CSS3 y HTML5). (Madrid, 2013). </span><span lang="es-AR">Junior.</span></font></p>
      </li>
      <li>
        <p class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><span lang="es-AR"><b>Programador Ruby On Rails V3 </b></span><span lang="es-AR">para DMS en el proyecto Ilitia (Madrid, 2013). </span></font></p>
      </li>
      <li>
        <p class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><span lang="es-AR"><b>Gesti&oacute;n de Microempresas </b></span><span lang="es-AR"> para MAYORAL ASESORES Y AUDITORES (gesti&oacute;n administrativa, contabilidad y n&oacute;minas). (2013).Pr&aacute;cticas </span><span lang="en-US">Junior.</span></font></p>
      </li>
      <li>
        <p class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><span lang="en-US"><b>Dise&ntilde;ador Web</b></span><span lang="en-US"> para ANPHEC BIOLABS SL (ECLIPSE, JAVA, PHP, SVG, HTML, CSS, MySql y phpMyAdmin). (2012). </span>Pr&aacute;cticas. </font></p>
      </li>
      <li>
        <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><b>T&eacute;cnico inform&aacute;tico</b> para InforPlay S.L (reparaci&oacute;n de equipos, configuraci&oacute;n, redes, Windows,...). (2011). </font></p>
      </li>
      <li>
        <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><b>Dise&ntilde;ador de Redes, Web y Seguridad</b> para CL&Iacute;NICA GINECOLOG&Iacute;A DR. RAFAEL ORTEGA (PROXY SQUID, APACHE, PHP, HTLM, JOOMLA, MySql, phpMyAdmin, GNU/Linux). (2011). Pr&aacute;cticas. </font></p>
      </li>
      <li>
        <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><b>Profesor de inform&aacute;tica</b> para Asaja (Windows y Redes). (2008). </font></p>
      </li>
      <li>
        <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><b>Mantenimiento de Sistemas Inform&aacute;ticos en Bancos</b> para METROLICO. (2003). Pr&aacute;cticas.</font></p>
      </li>
    </ul>
  </li>
</ul>

<ul>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif"><u><b>Personal</b></u></font></p>
  </li>
</ul>

<ul>
  <li>
    <ul>
      <li>
        <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif">Desarrollo de TejeyCome.es. <span lang="en-US">Implementaci&oacute;n con Ruby on Rails V4, Bootstrap y PayPal (2016).</span></font></p>
      </li>
      <li>
        <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif">Dise&ntilde;o y programaci&oacute;n de portal Web eCommerce para Artesan&iacute;a. <span lang="en-US">Implementaci&oacute;n con Ruby on Rails V3 y Bootstrap V2 de Twitter (2013).</span></font></p>
      </li>
      <li>
        <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif">Desarrollo de la plataforma Kinesis escrita en Java/Swing con SQLite para organizar y almacenar de manera distribuida contenido multimedia en forma de videos (2011).</font></p>
      </li>
      <li>
        <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif">Aplicaci&oacute;n Bluetooth en C++ para Wii y Windows con el driver Bluesoleil. (2010)</font></p>
      </li>
    </ul>
  </li>
</ul>

<p class="western" style="margin-bottom: 0cm; border-top: none; border-bottom: 3.00pt ridge #00ffff; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.04cm; padding-left: 0cm; padding-right: 0cm"><font face="Lucida Bright, serif"><font size="4"><b>Idiomas</b></font></font></p>

<ul>
  <li>
    <p class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif">Ingl&eacute;s: Nivel A1. Escuela Oficial de Idiomas de Ciudad Real (2012).</font></p>
  </li>
</ul>

<p class="western" style="margin-left: 0.64cm; margin-bottom: 0cm">&nbsp;</p>

<p class="western" style="margin-bottom: 0cm; border-top: none; border-bottom: 3.00pt ridge #00ffff; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.04cm; padding-left: 0cm; padding-right: 0cm"><font face="Lucida Bright, serif"><font size="4"><b>Datos de inter&eacute;s</b></font></font></p>

<p>&nbsp;</p>

<ul>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif">Coche propio y Carn&eacute; de Conducir clase B (2000).</font></p>
  </li>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif">Inter&eacute;s y aprendizaje personal en tecnolog&iacute;as RUBY ON RAILS, JAVA, JQUERY, PHP, HTML5, CSS as&iacute; como en sistemas operativos libres como GNU/Linux. </font></p>
  </li>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif">Soy muy curioso<strong>. </strong> Procuro estar actualizado ante cualquier novedad&nbsp;hardware o software.</font></p>
  </li>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif">Me gusta trabajar tanto en equipo como en solitario. </font></p>
  </li>
  <li>
    <p align="JUSTIFY" class="western" style="margin-bottom: 0cm"><font face="Calibri, sans-serif">Empezar un nuevo reto siempre es un aliciente para mi.</font></p>
  </li>
</ul>
