<div class="row">
  <div class="col-md-6">
    <%= form_for(@proyect,:url => admin_proyect_path,html: { multipart: true }) do |f| %>
      <% if @proyect.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@proyect.errors.count, "error") %> <%=t('common.errors_form_wrapper')%>:</h2>
          <ul>
            <% @proyect.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%=f.label :name%>
            <%=f.text_field :name, class: 'form-control'%>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%=f.label :sort_description%>
            <%=f.text_field :sort_description, class: 'form-control'%>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%=f.label :description%>
        <%=f.cktext_area :description,size: '30x10' %>
      </div>

      <div class="form-group">
        <%= f.select :languague, get_kind_proyects,  prompt: t('activerecord.attributes.proyect.languague_prompt'),
                     class: 'form-control'%>
      </div>

      <div class="form-group">
        <%=f.label :media%> (Los enlaces de Dropbox deben tener la forma: https://dl.dropboxusercontent.com/s/6qw0tmhpyv0iukf/10_1CR.jpg)<br/>
        <%= image_tag @proyect.media%>
        <%=f.text_field :media, class: 'form-control'%>
      </div>

      <%= f.submit  t('common.edit'), class: 'btn btn-primary' %>

    <%end%>
  </div>


  <div class="col-md-6">
    <%= form_for(@proyect_photo,url: admin_proyect_pphotos_path(@proyect)) do |f| %>
        <%=f.label :media%> (Los enlaces de Dropbox deben tener la forma: https://dl.dropboxusercontent.com/s/6qw0tmhpyv0iukf/10_CR.jpg)<br/>
        <%=f.text_field :media, class: 'form-control'%>
      <%= f.submit t('activerecord.attributes.proyect_photo.submit'),class: 'btn btn-warning btn-round' %>
    <%end%>
    <br/>

    <%@proyect_photos.each do |photo|%>
      <div class="col-md-6">
        <a class="btn btn-danger btn-xs" data-method="delete" href="<%= admin_proyect_pphoto_path(@proyect,photo)%>"><i class="icon-remove"></i></a>
      <%= image_tag photo.media, class: 'col-md-12 '%>
      </div>
    <%end%>

  </div>
</div>

