<%= form_for(@proyect,:url => admin_proyects_path,html: { multipart: true }) do |f| %>
  <% if @proyect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyect.errors.count, "error") %> <%=t('common.errors_form_wrapper')%>:</h2>
      <ul>
        <% @proyect.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%=f.label :name%>
        <%=f.text_field :name, class: 'form-control'%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%=f.label :sort_description%>
        <%=f.text_field :sort_description, class: 'form-control'%>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%=f.label :description%>
    <%=f.cktext_area :description,size: '30x10' %>
  </div>

  <div class="form-group">
    <%= f.select :languague, get_kind_proyects,  prompt: t('activerecord.attributes.proyect.languague_prompt'),
                 class: 'form-control'%>
  </div>

  <div class="form-group">
    <%=f.label :media%> (Los enlaces de Dropbox deben tener la forma: https://dl.dropboxusercontent.com/s/6qw0tmhpyv0iukf/10_1podemosCR.jpg)<br/>
    <%=f.text_field :media, class: 'form-control'%>
  </div>

  <%= f.submit  t('common.new'), class: 'btn btn-primary' %>

<%end%>