<h3 class="section-title more-margin"><i class="icon-keyboard"></i> <%=t('admin_zone.proyects.list')%></h3>
<%= link_to t('admin_zone.proyects.new'),   new_admin_proyect_path  %> |  <%=link_to t('admin_zone.global.title'), admin_home_path  %>
<div class="padded">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th><%=t('admin_zone.proyects.title')%></th>
      <th><%=t('admin_zone.proyects.languague')%></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @proyects.each do |proyect| %>
    <tr>
      <td><%=proyect.name%></td>
      <td><%=proyect.languague%></td>
      <td><%= image_tag proyect.media, size: "200x150" %></td>
      <td class="text-right">
        <a class="btn btn-default btn-xs" href="<%=edit_admin_proyect_path(proyect)%>"><i class="icon-pencil"></i> edit</a>
        <a class="btn btn-danger btn-xs" data-method="delete" href="<%=admin_proyect_path(proyect)%>"><i class="icon-remove"></i></a>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
