<div class="row">
<div class="col-md-12">
  <h3 class="form-title form-title-first"><i class="icon-terminal"></i> <%=t('admin_zone.proyects.new')%></h3>
  <div class="widget">
    <div class="widget-content-white glossed">
      <div class="padded">
        <%= render 'new_form' %>
      </div>
    </div>
  </div>
</div>
</div>
<%= link_to t('admin_zone.proyects.back'), admin_proyects_path, class: 'btn btn-default' %>
