<a href="<%=root_path%>" <%=set_active_home%>><i class="icon-home" ></i> <%=t('navbar.index')%></a>
<a href="<%= proyects_path%>" <%=set_active_proyects%>><i class=" icon-magic"></i> <%=t('navbar.proyects')%></a>
<a href="<%= blogs_path %>" <%=set_active_blog%>><i class="icon-comments"></i> <%=t('navbar.blog')%></a>
<a href="<%= abouts_path %>" <%=set_active_about_me%>><i class="icon-eye-open"></i> <%=t('navbar.about')%></a>
<a href="<%= contacts_path %>" <%=set_active_contact%>><i class=" icon-pencil"></i> <%=t('navbar.contact')%></a>

<%if user_signed_in?%>
<%= link_to '<i class="icon-signout"></i>'.html_safe, destroy_user_session_path, :method => :delete %>
<%= link_to '<i class="icon-wrench"></i>'.html_safe, admin_home_path%>
<%else%>
<a href="<%= user_session_path  %>"><i class="icon-gear"></i></a>
<%end%>


