<div class="text-center">
  <a href="http://twitter.com/home?status=<%=request.original_url%>" title="Share on Twitter" target="_blank" class="btn btn-default btn-round"><i class="icon-twitter"></i> Twitter</a>
  <!-- Facebook -->
  <a href="https://www.facebook.com/sharer/sharer.php?u=<%=request.original_url%>" class="btn btn-default btn-round"><i class="icon-facebook"></i> Facebook</a>
  <!-- LinkedIn -->
  <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%=request.original_url%>&title=<%=@web_title%>&summary=<%=@description%>" title="Share on LinkedIn" target="_blank" class="btn btn-default btn-round"><i class="icon-linkedin"></i> LinkedIn</a>
  <!-- Whatsapp-->
  <a href="whatsapp://send?text=<%=request.original_url%>" title="Share on Whatsapp" data-action="share/whatsapp/share" class="btn btn-default btn-round"><%=icon('whatsapp',class: 'strong')%> Whatsapp</a>
  <!-- Telegram-->
  <a href="tg://msg?text=<%=request.original_url%>" title="Share on Telegram" class="btn btn-default btn-round"><%=icon('paper-plane',class: 'strong')%> Telegram</a>
</div>
