<!DOCTYPE html>
<html>
<head>
  <title><%= @web_title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/linux.ico">
  <link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <% if params[:controller] == 'home' %>
      <link href="http://fonts.googleapis.com/css?family=Lobster:400" rel="stylesheet" type="text/css">
  <% end %>
  <meta http-equiv="content-language" content="es-ES">
  <meta name="distribution" content="global"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= @description %>">
  <meta name="Keywords" content="Marcos Martin Garcia-Muñoz, Informática, Ruby on Rails, Ror, Java, C++, Ingeniero, Html, Css, Photoshop ">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <!-- Facebook metas -->
  <meta property="og:title" content="<%= @web_title %>"/>
  <meta property="og:description" content="<%= @description_fb %>"/>
  <meta property="og:url" content="<%= @url %>"/>
  <meta property="og:image" content="<%= @url %><%= @image %>"/>
  <meta property="og:type" content="website"/>
  <!-- Facebook metas -->
  <!-- Twitter metas -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= @web_title %>">
  <meta name="twitter:description" content="<%= @description_fb %>">
  <meta name="twitter:image:src" content="<%= @url %><%= @image %>">
  <!-- Twitter metas -->
  <!-- Bing Meta -->
  <meta name="msvalidate.01" content="009FDB6A4BB3FC6EF9B2FF64126D93AB"/>
  <!-- Bing Meta -->
</head>
<body
<% unless @load_javascript.nil? %>onload="<%= @load_javascript %>"
<% end %>>
<div class="all-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="content-wrapper wood-wrapper">
        <div class="row">
          <div class="col-xs-12" align="center">
            <%= link_to(image_tag('milogo.png'), '/') %>
          </div>
        </div>
        <div class="content-inner">
          <div class="page-header">
            <div class="header-links">
              <%= render 'layouts/header' %>
            </div>
            <h1 class="remove_uppercase">MarcosMartinGm.es</h1>
          </div>
          <div class="main-content">
            <% if notice.present? %>
                <div class="alert alert-success alert-dismissable">
                  <i class="icon-thumbs-up"></i>
                  <strong><%= t('common.info') %></strong>
                  <%= notice.html_safe %>
                  <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                </div>
            <% end %>
            <% if alert.present? %>
                <div class="alert alert-danger alert-dismissable">
                  <i class="icon-warning-sign"></i>
                  <strong><%= t('common.danger') %></strong>
                  <%= alert.html_safe %>
                  <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
        <footer>
          <br>

          <div class="row">
            <div class="col-xs-12 col-md-4">
              Diseño y programación:<br/>
              <%= mail_to "marcos.martingm@gmail.com", '<i class="icon-envelope"></i>'.html_safe+"Marcos Martín García-Muñoz", class: "btn btn-default btn-round" %>
            </div>

            <div class="col-xs-12 col-md-4 ">
              Código fuente:<br/>
              <%= link_to image_tag('Bitbucket_Logo.png'), "https://bitbucket.org/Marcos_Martin/marcos_web", class: "btn btn-default btn-round" %><br/>
              <%= link_to(image_tag('rails3.png'), 'http://rubyonrails.org/', class: "thumbnail col-xs-2 col-md-2") %>
              <%= link_to(image_tag('html5.png'), 'http://es.wikipedia.org/wiki/HTML5', class: "thumbnail col-xs-2 col-md-2") %>
              <%= link_to(image_tag('css3.png'), 'http://www.w3.org/Style/CSS/current-work', class: "thumbnail col-xs-2 col-md-2") %>
              <%= link_to(image_tag('js.png'), 'http://es.wikipedia.org/wiki/JavaScript', class: "thumbnail col-xs-2 col-md-2") %>
              <%= link_to(image_tag('bootstrap3.png'), 'http://getbootstrap.com/', class: "thumbnail col-xs-2 col-md-2") %>

            </div>

            <div class="col-xs-12 col-md-4 ">
              <%=t('common.share').upcase%>:<br/>
              <%=render 'layouts/social_share'%>
            </div>
          </div>
          <div class="row col-xs-12 col-md-12">
            <%= link_to image_tag('creativecommons4.png'), "http://creativecommons.org/licenses/by/4.0/", class: "btn" %>
            Marcos Martin Web. Creative Commons Reconocimiento 4.0 Internacional License.
          </div>

        </footer>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-47284940-1']);
    _gaq.push(['_setDomainName', '.af.cm']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
